<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test Application CJS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE4559671D17A97600FEFE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE45597B1D17A97700FEFE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4559861D17A97700FEFE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
